<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-panos-index") %>>
          <a href="/docs/providers/panos/index.html">Palo Alto Networks Provider</a>
        </li>

        <li<%= sidebar_current("docs-panos-datasource") %>>
            <a href="#">Data Sources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-panos-datasource-system-info") %>>
                    <a href="/docs/providers/panos/d/system_info.html">panos_system_info</a>
                </li>
            </ul>
        </li>

        <li<%= sidebar_current("docs-panos-panorama-resource") %>>
          <a href="#">Panorama Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-panos-panorama-resource-address-group") %>>
              <a href="/docs/providers/panos/r/panorama_address_group.html">panos_panorama_address_group</a>
            </li>
            <li<%= sidebar_current("docs-panos-panorama-resource-address-object") %>>
              <a href="/docs/providers/panos/r/panorama_address_object.html">panos_panorama_address_object</a>
            </li>
            <li<%= sidebar_current("docs-panos-panorama-resource-administrative-tag") %>>
              <a href="/docs/providers/panos/r/panorama_administrative_tag.html">panos_panorama_administrative_tag</a>
            </li>
            <li<%= sidebar_current("docs-panos-panorama-resource-device-group") %>>
              <a href="/docs/providers/panos/r/panorama_device_group.html">panos_panorama_device_group</a>
            </li>
            <li<%= sidebar_current("docs-panos-panorama-resource-device-group-entry") %>>
              <a href="/docs/providers/panos/r/panorama_device_group_entry.html">panos_panorama_device_group_entry</a>
            </li>
            <li<%= sidebar_current("docs-panos-panorama-resource-edl") %>>
              <a href="/docs/providers/panos/r/panorama_edl.html">panos_panorama_edl</a>
            </li>
            <li<%= sidebar_current("docs-panos-panorama-resource-ike-crypto-profile") %>>
              <a href="/docs/providers/panos/r/panorama_ike_crypto_profile.html">panos_panorama_ike_crypto_profile</a>
            </li>
            <li<%= sidebar_current("docs-panos-panorama-resource-ipsec-crypto-profile") %>>
              <a href="/docs/providers/panos/r/panorama_ipsec_crypto_profile.html">panos_panorama_ipsec_crypto_profile</a>
            </li>
            <li<%= sidebar_current("docs-panos-panorama-resource-loopback-interface") %>>
              <a href="/docs/providers/panos/r/panorama_loopback_interface.html">panos_panorama_loopback_interface</a>
            </li>
            <li<%= sidebar_current("docs-panos-panorama-resource-nat-rule") %>>
              <a href="/docs/providers/panos/r/panorama_nat_rule.html">panos_panorama_nat_policy</a>
            </li>
            <li<%= sidebar_current("docs-panos-panorama-resource-nat-rule") %>>
              <a href="/docs/providers/panos/r/panorama_nat_rule.html">panos_panorama_nat_rule</a>
            </li>
            <li<%= sidebar_current("docs-panos-panorama-resource-security-policy") %>>
              <a href="/docs/providers/panos/r/panorama_security_policy.html">panos_panorama_security_policies</a>
            </li>
            <li<%= sidebar_current("docs-panos-panorama-resource-security-policy") %>>
              <a href="/docs/providers/panos/r/panorama_security_policy.html">panos_panorama_security_policy</a>
            </li>
            <li<%= sidebar_current("docs-panos-panorama-resource-security-rule-group") %>>
              <a href="/docs/providers/panos/r/panorama_security_rule_group.html">panos_panorama_security_policy_group</a>
            </li>
            <li<%= sidebar_current("docs-panos-panorama-resource-security-rule-group") %>>
              <a href="/docs/providers/panos/r/panorama_security_rule_group.html">panos_panorama_security_rule_group</a>
            </li>
            <li<%= sidebar_current("docs-panos-panorama-resource-service-group") %>>
              <a href="/docs/providers/panos/r/panorama_service_group.html">panos_panorama_service_group</a>
            </li>
            <li<%= sidebar_current("docs-panos-panorama-resource-service-object") %>>
              <a href="/docs/providers/panos/r/panorama_service_object.html">panos_panorama_service_object</a>
            </li>
            <li<%= sidebar_current("docs-panos-panorama-resource-static-route-ipv4") %>>
              <a href="/docs/providers/panos/r/panorama_static_route_ipv4.html">panos_panorama_static_route_ipv4</a>
            </li>
            <li<%= sidebar_current("docs-panos-panorama-resource-template") %>>
              <a href="/docs/providers/panos/r/panorama_template.html">panos_panorama_template</a>
            </li>
            <li<%= sidebar_current("docs-panos-panorama-resource-template-entry") %>>
              <a href="/docs/providers/panos/r/panorama_template_entry.html">panos_panorama_template_entry</a>
            </li>
            <li<%= sidebar_current("docs-panos-panorama-resource-template-stack") %>>
              <a href="/docs/providers/panos/r/panorama_template_stack.html">panos_panorama_template_stack</a>
            </li>
            <li<%= sidebar_current("docs-panos-panorama-resource-template-stack-entry") %>>
              <a href="/docs/providers/panos/r/panorama_template_stack_entry.html">panos_panorama_template_stack_entry</a>
            </li>
            <li<%= sidebar_current("docs-panos-panorama-resource-template-variable") %>>
              <a href="/docs/providers/panos/r/panorama_template_variable.html">panos_panorama_template_variable</a>
            </li>
            <li<%= sidebar_current("docs-panos-panorama-resource-tunnel-interface") %>>
              <a href="/docs/providers/panos/r/panorama_tunnel_interface.html">panos_panorama_tunnel_interface</a>
            </li>
            <li<%= sidebar_current("docs-panos-panorama-resource-vlan-interface") %>>
              <a href="/docs/providers/panos/r/panorama_vlan_interface.html">panos_panorama_vlan_interface</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-panos-resource") %>>
          <a href="#">Firewall Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-panos-resource-address-group") %>>
              <a href="/docs/providers/panos/r/address_group.html">panos_address_group</a>
            </li>
            <li<%= sidebar_current("docs-panos-resource-address-object") %>>
              <a href="/docs/providers/panos/r/address_object.html">panos_address_object</a>
            </li>
            <li<%= sidebar_current("docs-panos-resource-administrative-tag") %>>
              <a href="/docs/providers/panos/r/administrative_tag.html">panos_administrative_tag</a>
            </li>
            <li<%= sidebar_current("docs-panos-resource-dag-tags") %>>
              <a href="/docs/providers/panos/r/dag_tags.html">panos_dag_tags</a>
            </li>
            <li<%= sidebar_current("docs-panos-resource-edl") %>>
              <a href="/docs/providers/panos/r/edl.html">panos_edl</a>
            </li>
            <li<%= sidebar_current("docs-panos-resource-ethernet-interface") %>>
              <a href="/docs/providers/panos/r/ethernet_interface.html">panos_ethernet_interface</a>
            </li>
            <li<%= sidebar_current("docs-panos-resource-general-settings") %>>
              <a href="/docs/providers/panos/r/general_settings.html">panos_general_settings</a>
            </li>
            <li<%= sidebar_current("docs-panos-resource-ike-crypto-profile") %>>
              <a href="/docs/providers/panos/r/ike_crypto_profile.html">panos_ike_crypto_profile</a>
            </li>
            <li<%= sidebar_current("docs-panos-resource-ipsec-crypto-profile") %>>
              <a href="/docs/providers/panos/r/ipsec_crypto_profile.html">panos_ipsec_crypto_profile</a>
            </li>
            <li<%= sidebar_current("docs-panos-resource-loopback-interface") %>>
              <a href="/docs/providers/panos/r/loopback_interface.html">panos_loopback_interface</a>
            </li>
            <li<%= sidebar_current("docs-panos-resource-management-profile") %>>
              <a href="/docs/providers/panos/r/management_profile.html">panos_management_profile</a>
            </li>
            <li<%= sidebar_current("docs-panos-resource-nat-rule") %>>
              <a href="/docs/providers/panos/r/nat_rule.html">panos_nat_policy</a>
            </li>
            <li<%= sidebar_current("docs-panos-resource-nat-rule") %>>
              <a href="/docs/providers/panos/r/nat_rule.html">panos_nat_rule</a>
            </li>
            <li<%= sidebar_current("docs-panos-resource-security-policy") %>>
              <a href="/docs/providers/panos/r/security_policy.html">panos_security_policies</a>
            </li>
            <li<%= sidebar_current("docs-panos-resource-security-policy") %>>
              <a href="/docs/providers/panos/r/security_policy.html">panos_security_policy</a>
            </li>
            <li<%= sidebar_current("docs-panos-resource-security-rule-group") %>>
              <a href="/docs/providers/panos/r/security_rule_group.html">panos_security_policy_group</a>
            </li>
            <li<%= sidebar_current("docs-panos-resource-security-rule-group") %>>
              <a href="/docs/providers/panos/r/security_rule_group.html">panos_security_rule_group</a>
            </li>
            <li<%= sidebar_current("docs-panos-resource-service-group") %>>
              <a href="/docs/providers/panos/r/service_group.html">panos_service_group</a>
            </li>
            <li<%= sidebar_current("docs-panos-resource-service-object") %>>
              <a href="/docs/providers/panos/r/service_object.html">panos_service_object</a>
            </li>
            <li<%= sidebar_current("docs-panos-resource-static-route-ipv4") %>>
              <a href="/docs/providers/panos/r/static_route_ipv4.html">panos_static_route_ipv4</a>
            </li>
            <li<%= sidebar_current("docs-panos-resource-telemetry") %>>
              <a href="/docs/providers/panos/r/telemetry.html">panos_telemetry</a>
            </li>
            <li<%= sidebar_current("docs-panos-resource-tunnel-interface") %>>
              <a href="/docs/providers/panos/r/tunnel_interface.html">panos_tunnel_interface</a>
            </li>
            <li<%= sidebar_current("docs-panos-resource-virtual-router") %>>
              <a href="/docs/providers/panos/r/virtual_router.html">panos_virtual_router</a>
            </li>
            <li<%= sidebar_current("docs-panos-resource-vlan-interface") %>>
              <a href="/docs/providers/panos/r/vlan_interface.html">panos_vlan_interface</a>
            </li>
            <li<%= sidebar_current("docs-panos-resource-zone") %>>
              <a href="/docs/providers/panos/r/zone.html">panos_zone</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
